@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
*{
	font-family: 'Black Han Sans', sans-serif;
}
.bg-blue{
	background-color: blue;	
}
.bg-mycolor{
	background-color: #a8e3b8;	
}
.myborder{
	border: 1px solid #fff;
}
.mycenter{
	text-align: center;
}
.myright{
	text-align: right;
}